Filter metrics to indentify best models for each algorithm

In [1]:
import pandas as pd

In [2]:
#SVM

In [3]:
SVM = pd.read_csv("SVM_summary_metrics.csv", index_col = "Unnamed: 0")

In [4]:
#data.head()

In [5]:
SVM[ (SVM["Precision"]>0.90) & (SVM["F1"]>0.9) & (SVM["Recall"]>0.94)]#.sort_values("id_model")

   id_model  Precision  Balanced accuracy    F1    Recall
21   SVM9         0.93               0.94  0.94  0.941807
23    SVM10       0.93               0.94  0.94  0.941807
25    SVM25       0.92               0.93  0.93  0.941807
27    SVM24       0.91               0.93  0.93  0.944870

In [6]:
SVM[SVM["id_model" ]== "SVM25"]

   id_model  Precision  Balanced accuracy    F1    Recall
25    SVM25       0.92               0.93  0.93  0.941807

RF

In [7]:
RF = pd.read_csv("RF_summary_metrics.csv", index_col = "Unnamed: 0")

In [8]:
RF[ (RF["Precision"]>0.92) & 
     (RF["F1"]>0.9) & 
     (RF["Recall"]>0.93)].sort_values("id_model")

   id_model  Precision  Balanced accuracy    F1  Recall
10    RF1         0.97               0.96  0.95    0.94
22     RF10       0.96               0.95  0.95    0.94
23     RF11       0.96               0.95  0.95    0.94
29     RF12       0.95               0.95  0.95    0.95
17     RF13       0.96               0.95  0.95    0.95
26     RF14       0.96               0.95  0.95    0.94
25     RF15       0.96               0.95  0.95    0.94
24     RF16       0.96               0.95  0.95    0.94
37     RF33       0.93               0.94  0.94    0.94
40     RF34       0.93               0.94  0.93    0.94
41     RF35       0.93               0.94  0.94    0.94
39     RF37       0.93               0.94  0.94    0.94
38     RF38       0.93               0.94  0.93    0.94
32     RF39       0.93               0.94  0.94    0.94
21    RF4         0.96               0.95  0.95    0.94
36     RF40       0.93               0.94  0.94    0.94
35     RF41       0.93               0.94  0.93    0.94
12    RF5         0.97               0.96  0.95    0.94
34     RF52       0.93               0.94  0.93    0.94
18    RF6         0.96               0.95  0.95    0.94
13    RF7         0.97               0.96  0.95    0.94
11    RF8         0.97               0.95  0.95    0.94
20    RF9         0.96               0.95  0.95    0.94

In [9]:
RF[RF["id_model" ]== "RF13"]

   id_model  Precision  Balanced accuracy    F1  Recall
17     RF13       0.96               0.95  0.95    0.95

LRG

In [10]:
LRG = pd.read_csv("LRG_summary_metrics.csv", index_col = "Unnamed: 0")

In [11]:
LRG[ (LRG["Precision"]>0.90) & 
     (LRG["F1"]>0.9) & 
     (LRG["Recall"]>0.92)].sort_values("id_model")

  id_model  Precision  Balanced accuracy    F1  Recall
1    LRG31       0.92               0.93  0.93    0.94
0    LRG32       0.92               0.93  0.92    0.93
2    LRG33       0.91               0.93  0.92    0.94

In [12]:
LRG[LRG["id_model" ]== "LRG32"]

  id_model  Precision  Balanced accuracy    F1  Recall
0    LRG32       0.92               0.93  0.92    0.93

In [13]:
#extract info

In [14]:
df = pd.DataFrame() 
#df2 = pd.DataFrame() 
#df3 = pd.DataFrame()

In [15]:
best_rf = ["RF1  ", "RF5  ", "RF7  ", "RF12", "RF13"]
for i in best_rf:
    _ = RF[RF['id_model'] == i]
    df = df.append(_)   
df

   id_model  Precision  Balanced accuracy    F1  Recall
10    RF1         0.97               0.96  0.95    0.94
12    RF5         0.97               0.96  0.95    0.94
13    RF7         0.97               0.96  0.95    0.94
29     RF12       0.95               0.95  0.95    0.95
17     RF13       0.96               0.95  0.95    0.95

In [16]:
best_lrg = ["LRG31", "LRG32", "LRG33"]
for i in best_lrg:
    _ = LRG[LRG['id_model'] == i]
    df = df.append(_)   
df

   id_model  Precision  Balanced accuracy    F1  Recall
10    RF1         0.97               0.96  0.95    0.94
12    RF5         0.97               0.96  0.95    0.94
13    RF7         0.97               0.96  0.95    0.94
29     RF12       0.95               0.95  0.95    0.95
17     RF13       0.96               0.95  0.95    0.95
1     LRG31       0.92               0.93  0.93    0.94
0     LRG32       0.92               0.93  0.92    0.93
2     LRG33       0.91               0.93  0.92    0.94

In [17]:
best_svm = ["SVM9  ", "SVM10", "SVM24", "SVM25"]
for i in best_svm:
    _ = SVM[SVM['id_model'] == i]
    df = df.append(_)   
df

   id_model  Precision  Balanced accuracy    F1    Recall
10    RF1         0.97               0.96  0.95  0.940000
12    RF5         0.97               0.96  0.95  0.940000
13    RF7         0.97               0.96  0.95  0.940000
29     RF12       0.95               0.95  0.95  0.950000
17     RF13       0.96               0.95  0.95  0.950000
1     LRG31       0.92               0.93  0.93  0.940000
0     LRG32       0.92               0.93  0.92  0.930000
2     LRG33       0.91               0.93  0.92  0.940000
23    SVM10       0.93               0.94  0.94  0.941807
27    SVM24       0.91               0.93  0.93  0.944870
25    SVM25       0.92               0.93  0.93  0.941807

In [18]:
#reset index
df = df.reset_index(drop=True)

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df

   id_model  Precision  Balanced accuracy    F1    Recall
0     RF1         0.97               0.96  0.95  0.940000
1     RF5         0.97               0.96  0.95  0.940000
2     RF7         0.97               0.96  0.95  0.940000
3      RF12       0.95               0.95  0.95  0.950000
4      RF13       0.96               0.95  0.95  0.950000
5     LRG31       0.92               0.93  0.93  0.940000
6     LRG32       0.92               0.93  0.92  0.930000
7     LRG33       0.91               0.93  0.92  0.940000
8     SVM10       0.93               0.94  0.94  0.941807
9     SVM24       0.91               0.93  0.93  0.944870
10    SVM25       0.92               0.93  0.93  0.941807